<div class="product-list">
    <div class="item">
        <div class="img-box">
            <img src="./img/product.png" alt="">
        </div>
        <p class="product-title">
            meadjson美赞臣婴儿儿A++ 配方奶粉
        </p>
        <div class="wrap-price">
            <span class="price">￥169</span>
            <span class="area">美国</span>
        </div>
        <div class="sc-icon xixin"></div>
    </div>

    <div class="item">
        <div class="img-box">
            <img src="./img/product.png" alt="">
        </div>
        <p class="product-title">
            meadjson美赞臣婴儿儿A++ 配方奶粉
        </p>
        <div class="wrap-price">
            <span class="price">￥169</span>
            <span class="area">美国</span>
        </div>
        <div class="sc-icon unxinxin"></div>

    </div>
    <div class="item">
        <div class="img-box">
            <img src="./img/product.png" alt="">
        </div>
        <p class="product-title">
            meadjson美赞臣婴儿儿A++ 配方奶粉
        </p>
        <div class="wrap-price">
            <span class="price">￥169</span>
            <span class="area">美国</span>
        </div>
        <div class="sc-icon xixin"></div>
    </div>
    <div class="item">
        <div class="img-box">
            <img src="./img/product.png" alt="">
        </div>
        <p class="product-title">
            meadjson美赞臣婴儿儿A++ 配方奶粉
        </p>
        <div class="wrap-price">
            <span class="price">￥169</span>
            <span class="area">美国</span>
        </div>
        <div class="sc-icon xixin"></div>
    </div>
</div>