<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../../reset.css">

    <link rel="stylesheet" href="search.css">


    <!-- 公用的字体图标库-->
    <link rel="stylesheet" href="../../fonts/icomoon/style.css">
    <!--<!-字体图标&ndash;&gt;-->
    <link rel="stylesheet" href="../../fonts/icon/iconfont.css">

</head>
<body id="bodys">



        <div class="shade-box">
        </div>
        <div class="main-box">

            <!--搜索框-->
            <div class="header">
                <input type="text" placeholder="搜索品牌、类别" class="search-box font-color" autocomplete="off">

                <span class="iconfont icon-fangdajing fdj-icon "></span>      <!--搜索按钮-->
            </div>

            <!--热门搜索-->
            <div class="hot-search">
                <h3 class="font-color">
                    热门搜索
                </h3>
                <ul class="clearfix" style="padding: 10px 0">
                    <li><a href="#">德运奶粉</a></li>
                    <li><a href="#">德运</a></li>
                    <li><a href="#">火鸡面</a></li>
                    <li><a href="#">德dsf运</a></li>
                    <li><a href="#">德运sdf</a></li>

                </ul>
            </div>
            <!--历史搜索-->
            <div class="search-record">
                <h3 class="font-color">
                    历史搜索
                    <span class="clear">清除历史</span>
                </h3>
                <span class="line"></span>
                <ul class="record-wrap">
                    <li>
                        <a href="#">洗面奶</a>
                        <span class="delete"></span>
                    </li>
                    <li>
                        <a href="#">洗面奶</a>
                        <span class="delete"></span>
                    </li>

                </ul>
            </div>
        </div>
</body>
</html>