<header class="clearfix">
    <i class="iconfont  icon-back white back"></i>
    <p class="titile white">分类</p>
    <div class="omit">
        <i class="iconfont icon-shenglve msg white"></i>
        <span class="info">3</span>
    </div>
</header>
<div class="msg-box">
    <ul>
        <li class="my-msg">
            <i class="iconfont icon-xiaoxi"></i>
            <span >消息</span>
            <span class="myinfo">3</span>
        </li>
        <li>
            <i class="iconfont icon-gouwuchekong"></i>
            <span>购物车</span>
        </li>
    </ul>
</div>