<div class="ecf-front-content">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./css/login/style.css" />
	<div class="login-bg">
		
	</div>
    <div class="login-logo">
        <div class="logo"></div>
    </div>
    <div class="login-page-wrap">
        <div class="form-wrap " id="loginForm">
            <div class="form-group button-group">
                <a href="{{login}}"><button class="btn-default hide">登录</button></a>
            </div>
            <div class="form-group button-group">
                <a href="{{register}}"><button class="btn-default hide">注册</button></a>
            </div>
        </div>
    </div>
</div>
