<div>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../css/login/style.css" />
 	<div class="bg-pic1"></div>
 	<div class="bg-pic2"></div>
 	<div class="bg-pic3"></div>
 	<div class="bg-pic4"></div>
 	<div class="bg-msg-box"><div class="bg-msg">密码错误</div></div>
     
      <div class="page-container">
            <h1>Tech.Login</h1>
            <form v-form name="myform" >
                <input type="text" v-model="model.cellNumber" name="username" class="username" placeholder="输入用户名" 
                error-message="请输入正确的手机号码"  v-form-ctrl required class="form-text input-text" pattern="^\+65\d{8}$" on-blurs="blurCheck" >
                
                <input type="password" v-model="model.pwd" name="password" class="password" placeholder="输入密码"
                error-message="请输入密码"  v-form-ctrl required class="form-text input-text" on-blurs="blurCheck" >
              <!--   <input type="text" v-model="model.captcha"  class="captcha" name="captcha"  placeholder="输入验证码！"> -->
				
                <button type="submit" class="submit_button" v-on:click.prevent="onSubmit">登录</button>
            </form>
			<span><a v-on:click.prevent="toReg">注册</a><a>|</a><a>找回密码?</a></span>
           <!--  <div class="connect">
                <p></p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                    <a class="ali" href=""></a>
                </p>
            </div> -->
        </div>
     
     
</div>
