<div class="ecf-front-content">
    <title>设置密码</title>
    <link rel="stylesheet" type="text/css" href="./css/login/style.css" />
    <div class="login-bg">

    </div>
    <div class="login-page-wrap mt40" id="loginForm">
        <div class="form-wrap ">
            <form v-form name="myform" @submit.prevent="onSubmit">
                <div class="form-group password-wrap" v-input-delete>
                    <label class="form-label"><i class="u-icon icon-password">&nbsp;</i></label>
                    <input type="text" v-model="model.psw" name="psw" v-form-ctrl required placeholder="请输入8-16位的数字与字母组合密码"
                           class="form-text input-text password" error-message="请输入8-16位的数字与字母组合密码" pattern="(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}"
                           on-blurs="blurCheck">
                    <span class="icons-wrap">
                        <i class="u-icon icon-delete">&nbsp;</i>
                        <i class="u-icon see-pass icon-can-see-pass" v-on:click="shPassword($event)">&nbsp;</i>
                    </span>
                </div>
                <div class="form-group button-group mt60">
                    <button class="btn-default hide" v-bind:class="{'disabled': !myform.$valid}">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
