<div class="ecf-front-content">
    <title>协议查看</title>
    <link rel="stylesheet" type="text/css" href="/css/limit/style.css" />

    <div class="protocol-wrap">
        <h3 class="protocol-title">美的花注册协议</h3>
        <div class="protocol-content">
        	<section class="considering">
        		<h3 class="black-color">鉴于</h3>
        		<p>（1）重庆美的小额贷款有限公司[此公司尚未注册,申请中]（以下简称“小贷公司”）是一家根据《中华人民共和国公司法》、《中国银行业监督管理委员会、中国人民银行关于小额贷款公司试点的指导意见》（银监发〔2008〕23号）、《重庆市人民政府关于印发重庆市推进小额贷款公司试点指导意见的通知》（渝府发〔2008〕76号）、《重庆市人民政府办公厅关于调整重庆市小额贷款公司试点管理暂行办法有关问题的通知》（渝办发〔2009〕109号）、《重庆市人民政府办公厅关于进一步推进小额贷款公司发展的意见》（渝办发〔2011〕92号）以及《重庆市小额贷款公司开展网络贷款业务监管指引(试行)》（渝金发〔2015〕13号）等相关法律法规成立的非银行金融机构，已经取得通过网络平台发放个人贷款的许可，致力于为用户提供全方位的普惠金融服务，通过运用互联网技术简化申请贷款流程、提高贷款审核与发放效率，提升用户的体验；</p>
        		<p>（2）在本注册协议下方签名的自然人用户（以下简称“申请人”）有意使用小贷公司提供的产品和服务，向小贷公司申请个人贷款。现就小贷公司向申请人提供贷款的条件以及小贷公司向申请人提供相关客户服务等内容，由小贷公司和申请人共同确认以下条款：</p>
        	</section>
        	<section class="region">
        		<h3>一、小贷公司的业务范围</h3>
        		<p>在全国范围内，通过互联网方式线上开展的各项贷款、票据贴现，资产转让业务。</p>
        	</section>
        	<section class="region">
        		<h3>二、申请人需满足的条件</h3>
	        	<p>申请人向小贷公司申请任何一款贷款产品均需满足以下条件：</p>
	        	<ul>
	        		<li>1、申请人具有完全民事行为能力;</li>
	        		<li>2、资信状况良好;</li>
	        		<li>3、20-55岁的中国大陆公民;</li>
	        	</ul>
        	</section>
			<section class="region">
				<h3>三、双方一致确认</h3>
				<p>1、在本协议签署日之后，小贷公司有权根据申请人的过往征信记录情况、资信状况变化或突发性欺诈风险等情况，按照小贷公司内部审核标准自主确定是否向申请人发放贷款以及发放贷款的具体额度，并可根据申请人信用状况变动情况、以往合同履约情况等动态因素随时调整小贷公司对申请人的授信额度。小贷公司不因本协议的签署承诺向申请人发放贷款，具体贷款产品的发放以后续签署的申请表及相应贷款合同条款约定为准。</p>
				<p>2、无论小贷公司最终是否向申请人发放贷款，申请人向小贷公司提交的申请资料以及小贷公司查询获取的申请人的个人征信等信息资料均不予退还，但是，小贷公司应当根据相关规定妥善保存并在申请人的授权范围内使用申请人的个人信息、个人征信信息以及其他相关信息资料。</p>
			</section>
			<section class="region">
				<h3>四、申请人同意并不可撤销地授权小贷公司：</h3>
				<p class="black-color">1、出于向申请人提供贷款及相关服务之目的（包括但不限于贷款申请的处理、各阶段的贷款管理、账户及付款管理、双方权利的保护及执行等），向小贷公司的关联公司、合作伙伴及其他合法来源查询并获取申请人的个人相关信息（包括但不限于本人身份信息、信用信息、社会保险及公积金相关信息等）；出于向申请人提供贷款及相关服务之目的，提供申请人个人相关信息和贷款信息给小贷公司的关联公司以及合作伙伴；将部分与本协议有关的服务外包给小贷公司的业务合作伙伴，并为履行该服务外包合同之目的将申请人的相关个人信息和相关贷款信息提供给该业务合作伙伴；小贷公司推荐产品时可以使用申请人的个人信息，推荐的方式包括但不限于向申请人通信地址、电子邮箱、移动电话、QQ、微信等发送产品信息。</p>
				<p class="black-color">2、申请人同意还款时由小贷公司及小贷公司指定第三方进行代扣，并在此不可撤销地授权小贷公司及小贷公司指定第三方从申请人指定的银行账户划扣到期应还的相应款项至小贷公司账户，而无需进一步通知申请人或者得到其同意。</p>
				<p class="black-color">3、申请人同意在此之后申请小贷公司的任何一款产品时，通过账号密码、验证码及其他合法有效的身份验证方式验证的手机客户端、网络等方式填写的申请表、签署电子贷款合同，与申请人面签申请表及贷款合同具有同等法律效力。</p>
			</section>
			<section class="region">
				<h3>五、特别授权  申请人无条件、不可撤销地授权小贷公司：出于向申请人提供贷款及相关服务之目的，申请人授权小贷公司及该公司委托的第三方通过合法渠道了解、咨询、审查申请人的资信状况、财务状况和其他与申请人信用付款额度及付款能力有关的信息，并可以在美的信用付款、赊购服务整个过程中及在追偿违约欠款时索取、留存和使用该等信息以及申请人在小贷公司所提供的全部资料；授权小贷公司向协议的相关方（包括重庆美的小额贷款股份有限公司、为信用付款服务提供支付服务的第三方支付公司、为信用付款服务提供查询服务的第三方公司等）披露与申请人相关的任何信息；授权小贷公司及该公司委托的第三方接入中国人民银行金融信用信息基础数据库、中国支付清算协会互联网金融风险信息共享系统并查询、披露申请人的相关信用信息。本授权即日起生效。</h3>
			</section>
        </div>
    </div>
</div>
